
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:white;
    color: rgb(22,21,21)

}


header {
    height: 100px;
    background-color: #b60000;
    color: white;
    font-size: 150%;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

.intro {
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #b60000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .card-container {
        flex-direction: column;
    }
}
